@model IEnumerable<SisInventarios.Model.clientes>

@{
    ViewData["Title"] = "Clientes";
}

<h1 class="form-title">LISTA DE CLIENTES</h1>

<table class="table table-striped providers-table">
    <thead>
        <tr class="table-header">
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Tipo Persona</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.direccion</td>
                <td>@item.tipo_persona</td>
                <td>@item.telefono</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary create-provider-btn">Agregar Cliente</a>